/**
 * Button
 * Buttons communicate the action that will occur when the user touches them.
 */

/**
 * ======================================
 * Block
 * ======================================
 */

/**
 * 1. Get the base styles from the shared input mixin
 * 1. remove text-decoration from other possible interactive elements
 * 2. Opinionated pointer cursor
 */
.c-button {
  @include shared-input; /* [1] */
  margin: 0;
  text-decoration: none; /* [2] */
  cursor: pointer; /* [3] */
  background-color: $color-primary-500;
  color: $color-white;

  &:hover,
  &:focus {
    color: $color-primary-500;
    background-color: $color-white;
    border-color: currentColor;
  }
}

/**
 * ======================================
 * Elements
 * ======================================
 */

/**
 * We need an inner element here because inline-flex on a button element
 * breaks in some browsers
 */
.c-button__inner {
  display: inline-flex;
  align-items: center;
}

.c-button__label {
  display: flex;
}

/**
 * Small wrapper around our icon component
 */
.c-button__wrap-icon {
  display: flex;
  text-decoration: none;
  transition: transform $base-transition-duration $base-transition-timing;
  @include supple-rem(margin-left, $supple-space-tiny);
}

/**
 * ======================================
 * Modifiers
 * ======================================
 */
