/**
 * Input-text
 */

/**
 * ======================================
 * Block
 * ======================================
 */

/**
 * 1. Relies on the `shared-input` mixin in `01-tools/mixins/_shared-input.scss`
 */
.c-input-text {
  @include shared-input; /* [1] */
  border-color: currentColor;
  color: $color-gray-900;

  &:hover,
  &:focus {
    border-color: $color-primary-500;
  }

  /**
   * State: valid/invalid
   * 1. Shit needs to be immutable
   */
  &.is-valid {
    border-color: $color-success-500 !important; /* [1] */
  }

  &.is-invalid {
    border-color: $color-error-500 !important; /* [1] */
  }

  /**
   * State: disabled
   * 1. Shit needs to be immutable, disabled is disabled
   */
  &:disabled,
  &.is-disabled {
    color: $color-gray-500 !important; /* [1] */
    background-color: $color-gray-100 !important; /* [1] */
    cursor: not-allowed;
  }

  &::placeholder {
    color: $color-gray-500;
  }
}
