/**
 * Select
 */

/**
 * ======================================
 * Block
 * ======================================
 */
.c-select {
  position: relative;
  display: inline-block;
}

/**
 * ======================================
 * Elements
 * ======================================
 */

/**
 * Element: input
 * 1. Relies on the `shared-input` mixin in `01-tools/mixins/_shared-input.scss`
 * 2. Accommodate space for the icon
 * 3. Set explicit height because firefox does not respect the line-height
 */
.c-select__input {
  @include shared-input; /* [1] */
  @include supple-rem(height, $supple-line-height + $shared-input-padding-vertical*2); /* [3] */
  padding-right: $supple-space-large; /* [2] */
  border-color: currentColor;
  color: $color-gray-900;

  &:hover,
  &:focus {
    border-color: $color-primary-500;
  }

  /**
   * State: valid/invalid
   * 1. Shit needs to be immutable
   */
  &.is-valid {
    border-color: $color-success-500 !important; /* [1] */
  }

  &.is-invalid {
    border-color: $color-error-500 !important; /* [1] */
  }

  /**
   * State: disabled
   * 1. Shit needs to be immutable, disabled is disabled
   */
  &:disabled,
  &.is-disabled {
    color: $color-gray-500 !important; /* [1] */
    background-color: $color-gray-100 !important; /* [1] */
    cursor: not-allowed;
  }
}

.c-select__icon {
  position: absolute;
  @include supple-rem(top, $shared-input-padding-vertical + $supple-line-height/2);
  @include supple-rem(right, $supple-space);
  @include supple-rem(width, $supple-font-size);
  @include supple-rem(height, $supple-font-size);
  transform: translateY(-50%);
  pointer-events: none;
  user-select: none;
}

/**
 * ======================================
 * Modifiers
 * ======================================
 */
