/*  =========================================================================
    components.select
    ========================================================================= */

/*  Variables
    ========================================================================= */



/*  Functions/Mixins
    ========================================================================= */



/*  Module
    ========================================================================= */

/**
 * Block: select
 */
.c-select {
  position: relative;
}


/**
 * Element: input
 * 1. Relies on the `shared-input` mixin in `01-tools/mixins/_shared-input.scss`
 */
.c-select__input {
  @include shared-input; /* [1] */
  border-color: currentColor;
  color: $color-gray-900;

  /**
   * State: disabled
   * 1. Shit needs to be immutable, disabled is disabled
   */
  &:disabled,
  &.is-disabled {
    color: $color-gray-500 !important; /* [1] */
    background-color: $color-gray-100 !important; /* [1] */
    cursor: not-allowed;
  }
}
