/**
 * Link element
 */

a {
  color: $color-primary-500;
  text-decoration-skip-ink: auto;
  transition: color $base-transition-duration $base-transition-timing;

  &:hover,
  &:focus {
    text-decoration: none;
  }

  &:focus {
    @include generic-focus;
  }
}
