/**
 * Shared input
 * Shared base styles for input, eg. buttons, text inputs, etc.
 *
 * 1. By default inherit all default font styles.
 * 2. Remove the border from the paddings for perfect control of the
 *    dimensions.
 */

$shared-input-border-width: 2px !default;
$shared-input-padding-vertical: calc(calc(#{$a11y-button-size} - 1.5em) / 2 - #{$shared-input-border-width}) !default; /* [2] */
$shared-input-padding-horizontal: calc(#{supple-value-to-rem($supple-space-base)} - #{$shared-input-border-width*2}) !default; /* [2] */

@mixin shared-input {
  appearance: none;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: $shared-input-padding-vertical $shared-input-padding-horizontal;
  border: $shared-input-border-width solid transparent;
  border-radius: 0;
  transition-property: border, color, background-color, box-shadow;
  transition-duration: $base-transition-duration;
  transition-timing-function: $base-transition-timing;
  font: inherit; /* [1] */

  &:focus {
    @include generic-focus;
  }
}
