{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            ">0.25% in NL",
            "ie 11",
            "not op_mini all"
          ]
        },
        "debug": true
      }
    ],
    "stage-3"
  ],
  "plugins": ["syntax-dynamic-import"]
}
