# Ignore build assets but maintain .gitkeep
<%= buildPath.replace('./', '') %>/js/**
<%= buildPath.replace('./', '') %>/css/**
<%= buildPath.replace('./', '') %>/img/**
<%= buildPath.replace('./', '') %>/svg/**
!**/.gitkeep

# misc
_tmp
.idea/
node_modules/
